server:
  port: 8090
spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: contactmanagement
springdoc:
  swagger-ui:
    path: /swagger-ui.html
logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG